<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Taffy for REST</title>

	<link rel="stylesheet" href="https://unpkg.com/buefy@0.7.0/dist/buefy.min.css">
	<link rel="stylesheet" href="https://cdn.materialdesignicons.com/3.0.39/css/materialdesignicons.min.css">

	<script src="https://unpkg.com/vue@2.5.17"></script>
	<script src="https://unpkg.com/buefy@0.7.0"></script>
	<script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
</head>
<body>


<div id="app">

	<section class="hero is-info" style="border-bottom : 1px solid white;">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">
					Taffy for REST
				</h1>
				<h2 class="subtitle">
					By James Mohler
				</h2>
			</div>
		</div>
	</section>

	<nav class="navbar is-info" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item" href="https://taffy.io">
				Taffy &nbsp; <b-icon icon="open-in-new"></b-icon>
			</a>

			<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
				<span aria-hidden="true" class="has-text-white"></span>
				<span aria-hidden="true" class="has-text-white"></span>
				<span aria-hidden="true" class="has-text-white"></span>
			</a>
		</div>
		
		<div id="navbarBasic" class="navbar-menu">
			<div class="navbar-start">
				<a class="navbar-item" @click="router = 'landing'" v-show="login_token !== ''">
					<b-icon icon="home"></b-icon> &nbsp; Home
				</a>

				<a class="navbar-item" href="index.cfm">
					Dashboard
				</a>
			</div>

			<div class="navbar-end">
				<div class="navbar-item">
					<button class="button is-info" type="button" @click="listUser" v-if="login_token !== ''" :disabled="router === 'users'">
						User Manager
					</button>

					<button class="button is-info" type="button" @click="logout" v-if="login_token !== ''">
						<b>Logout</b>
					</button>
					<button class="button is-info" type="button" @click="router = 'prelogin'" v-else>
						Log in
					</button>
				</div>
			</div>
		</div>
	</nav>



	<p>&nbsp;</p>

	<section>
		<div class="container">
			<div class="columns">
				<div class="column is-one-quarter">
				</div>
				<div class="column is-one-half">
					<b-notification v-for="(message, key) in messages" :type="('is-' + (message.type === 'error' ? 'danger' : message.type))" has-icon>
						<span v-html="message.content"></span>
					</b-notification>
				</div>
				<div class="column is-one-quarter">
				</div>
			</div>
		</div>
	</section>

	<section v-show="router === 'welcome'">

		<div class="container">

			<div class="columns">
				<div class="column is-one-quarter">
				</div>

				<div class="column is-one-half">

					<h1 class="is-size-3">Welcome</h1>

					<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>

					<br />
					<button class="button is-info" type="button" @click="router = 'prelogin'">
						Log in
					</button>
				</div>

				<div class="column is-one-quarter">
				</div>
			</div>
		</div>
	</section>


	<section class="section" v-show="login_token === '' &&  router === 'prelogin'">
		<div class="container">

			<div class="columns">
				<div class="column">
				</div>
				<div class="column">
	
					<div class="card">
						<header class="card-header has-background-info">
							<p class="card-header-title has-text-white">
								Login
							</p>
						</header>

						<div class="card-content">
							<b-field label="Email" :message="invalidEmail" :type="stateEmail">
								<b-input
									v-model.trim="email"
									type="email"
									id="email"
									>
								</b-input>
							</b-field>

							<b-field label="Password" :message="invalidPassword">
								<b-input
									v-model.trim="password"
									type="password"
									id="password"
									>
								</b-input>
							</b-field>


							<img :src="captcha_image" style="height : 100px;" />


							<b-field label="CAPTCHA" :message="invalidCaptcha">	
								<b-input
									v-model.trim="captcha"
									id="captcha"
									>
								</b-input>
							</b-field>
	
	
							<button type="button" id="reload" @click="prelogin" class="button is-light"><b-icon icon="refresh"></b-icon></button>

							<button type="button" @click="login" class="button is-info is-pulled-right"	:disabled="!stateEmail && !stateCaptcha">Login</button>
						</div><!--/ card content -->
					</div><!--/ card -->
				</div><!--/ column-->

				<div class="column">
				</div>
			</div><!--/ columns -->

		</div><!-- container -->
	</section>


	<section class="section" v-show="router === 'landing'">
		<div class="container">
	
			<div class="columns">
				<div class="column">
					<div class="card">
						<div class="card-content">
							<div class="media">
								<p class="title is-4">User Manager</p>
							</div>
							<div class="content">
								<button type="button" @click="listUser" class="button is-light">Users</button>
							</div>
						</div>
					</div><!--/ card -->
				</div>

				<div class="column">
					<div class="card">
						<div class="card-content">
							<div class="media">
								<p class="title is-4">Future</p>
							</div>
						</div>
					</div><!--/ card -->
				</div>

				<div class="column">
					<div class="card">
						<div class="card-content">
							<div class="media">
								<p class="title is-4">Future</p>
							</div>
						</div>
					</div><!--/ card -->
				</div>
			</div>
		</div>
	</section>


	<section class="section" v-show="router === 'users'">
		<div class="container">
	
			<div class="columns">
				<div class="column">

				<button type="button" class="button is-light" @click="preAddUser"><b-icon icon="plus"></b-icon> &nbsp;Add User</button>

		<b-table :data="users">
			<template slot-scope="props">
				<b-table-column field="id" label="ID">
					{{ props.row.id }}
				</b-table-column>
		
				<b-table-column field="firstname" label="First Name">
					{{ props.row.firstName }}
				</b-table-column>

				<b-table-column field="lastname" label="Last Name">
					{{ props.row.lastName }}
				</b-table-column>

				<b-table-column field="email" label="Email">
					{{ props.row.email }}
				</b-table-column>

				<b-table-column field="type" label="State / Province">
					{{ props.row.stateProvinceId }}
				</b-table-column>
	
				<b-table-column field="modified">

					<div class="buttons has-addons">
						<button type="button" class="button" @click="preEditUser(props.row.id)">Edit</button>
						<button type="button" class="button is-danger is-selected" :disabled="props.row.deleted"><b-icon type="is-light" icon="trash-can"></b-icon></button>
					</div>
				</b-table-column>
			</template>
		</b-table>

				</div>
			</div>
		</div>
	</section>


	<section v-show="router === 'usermodal'">
		<div class="container">
			<div class="columns">
				<div class="column">
				</div>
				<div class="column">
					<div class="card">
						<header class="card-header has-background-info">
							<p class="card-header-title has-text-white">
								{{userModal.title}} :: {{user.id}}
							</p>
						</header>

						<div class="card-content">
							<b-field label="First Name">
								<b-input
									type="text"
									v-model.trim="user.firstName"
									required>
								</b-input>
							</b-field>

							<b-field label="Last Name">
								<b-input
									type="text"
									v-model.trim="user.lastName"
									required>
								</b-input>
							</b-field>

							<b-field label="Email">
								<b-input
									type="email"
									v-model.trim="user.email"
									required>
								</b-input>
							</b-field>

							<b-field label="State/Province">
								<b-select v-model="user.stateProvinceId" expanded>
									<option
										v-for="option in statesprovinces"
											:value="option.id"
											:key="option.id"
											>
											{{ option.longName }}
									</option>
								</b-select>
							</b-field>

							<b-field label="Password">
								<b-input
									type="password"
									v-model.trim="user.password">
								</b-input>
							</b-field>

							<button type="button" class="button" @click="listUser">Cancel</button>
							<button type="button" class="button is-info is-pulled-right" @click="commitUser">{{userModal.actionLabel}}</button>
						</div><!--/ card content-->
					</div><!--/ card -->
				</div>

				<div class="column">
				</div>
			</div><!--/ columns -->
		</div><!--/ container -->
	</section>


	<p>Token: <code>{{login_token}}</code>	Router: <code>{{router}}</code></p>
	<hr />

	<section class="section">
		<div class="container">
			<div class="columns">
				<div class="column">
					<h1 class="title">ColdFusion Resources</h1>
					<ul>
						<li><a href="https://www.adobe.com/products/coldfusion-family.html">Adobe ColdFusion</a></li>
						<li><a href="https://tracker.adobe.com/">Adobe Issue Tracker</a></li>
						<li><a href="https://coldfusion.adobe.com/">Offical Blog</a></li>
						<li><a href="https://stackoverflow.com/questions/tagged/coldfusion">Stackoverflow: ColdFusion</a></li>
					</ul>
				</div>

				<div class="column">
					<h1 class="title">More Technology Resources</h1>
					<p>All of these are used on this page</p>
					<ul>
						<li><a href="https://buefy.github.io/">Buetify</a></li>
						<li><a href="https://vuejs.org/">VueJS</a></li>
						<li><a href="https://github.com/axios/axios/">Axios</a></li>
						<li><a href="https://bulma.io/">Bulma</a></li>
						<li><a href="https://github.com/">Github</a></li>
					</ul>
				</div>

				<div class="column">
					<h1 class="title">About the Author</h1>

					<p>James Mohler, that's me!</p>
					<ul>
						<li>ColdFusion.Adobe.com: <a href="https://coldfusion.adobe.com/profile/jamesmohler">https://coldfusion.adobe.com/profile/jamesmohler</a></li>
						<li>GitHub: <a href="https://github.com/jmohler1970">https://github.com/jmohler1970</a></li>
						<li>Stackoverflow: <a href="https://stackoverflow.com/users/1845869/james-a-mohler">https://stackoverflow.com/users/1845869/james-a-mohler</a></li>
					</ul>
				</div>
			</div>
		</div><!--/ container -->
	</section>

</div>


<script src="assets/app.js"></script>


</body>
</html>
